<%- include header %>
<link rel="stylesheet" href="/stylesheets/about.css">
			<ul class="nav navbar-nav navbar-left">
				<li><a href="/">首页</a></li>
				<li class="active"><a href="#">企业介绍</a></li>
				<li><a href="/join">招商加盟</a></li>
				<li><a href="/business">新店开业</a></li>
				<li><a href="/train">活动动态</a></li>
				<li><a href="/product">合作品牌</a></li>
				<li><a href="/staff">员工天地</a></li>
				<li><a href="/contact">联系我们</a></li>
				<li class="visible-lg-block active"><a href="/join" style="padding:12px 45px;">欢迎加入</a></li>
			</ul>
		</div>
	</div>
</nav>

<div id="content">
	<div class="company-about-img">
		<img src="images/index-carousel-2.jpg">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-1">
				<div class="company-boss-img">
					<img src="">
				</div>
				<div class="company-boss-text">
				仟姿纺创始人<span class="company-boss-name">刘光富</span>
				</div>
			</div>
			<div class="col-md-6">
				<div class="tri-box hidden-xs hidden-sm"><div class="tri"></div></div>
				<div class="company-boss-talk">
				"纺织行业对工人的行业经验要求较高，我们选工厂一定要选择城市中的工厂，城市工厂有相关的副业支撑，工厂的工人都是有一定生活阅历的中年女性，由于这样的女工拥有成熟、平稳的心态和深厚的行业积淀，制出的产品才能更有品质，这样的工厂才能对产品负责，赋予产品更多的感情。"
				</div>
				<div class="company-slogan">
					仟姿纺经营实体店，坚持以最好的品质、最好的价值、最好的服务为原则来面对消费者
				</div>
			</div>
			<div class="col-md-12 about-content">
				<p class="about-title">企业精神：Q、V、S</p>
				<div class="about-second-title">品质（Quality）</div>
				<div class="about-text">仟姿纺销售的所有产品均采自大厂，每一款产品仟姿纺都对其质量严格把关，真正做到了健康、时尚、贴身这三大准则</div>
				<div class="about-second-title">价值（Value）</div>
				<div class="about-text">仟姿纺的产品不仅仅质量好，更是尽可能的压低利润，为顾客带去真正物超所值的产品</div>
				<div class="about-second-title">服务（Service）</div>
				<div class="about-text">从员工进入仟姿纺的第一天，就开始学习如何更好地服务，是顾客百分百满意。仟姿纺的顾客投诉机制，使顾客可以实时维护自己的权益。</div>
				
				<p class="about-title">企业作风</p>
				<div class="about-text">顾客第一</div>
				<div class="about-text">专业、高效的服务</div>
				<div class="about-text">扁平化的管理</div>
				
				<p class="about-title">企业文化</p>				
				<div class="about-second-title">用户至上、诚信正直、结果导向、永不言败</div>
				<div class="about-text">仟姿纺崇尚家庭式的管理方式，在仟姿纺内部没有层级之分，员工之间不论管理级别彼此称呼对方花名即可；员工在工作上犯错误没有关系，只要不是严重违反公司规定的错误都可以改正；人人生而都是有用的，仟姿纺提倡的是对员工应该多表扬，多鼓励，而不是一味的高压政策；仟姿纺鼓励员工之间相互分享经验，共同进步，这样才能体现员工的个人价值，更能实现仟姿纺成就百年企业的企业愿景！</div>
				
				<p class="about-title">企业展望</p>
				<div class="about-text">仟姿纺内衣连锁从四川什邡的一个小镇，发展成为现在拥有100家大型连锁店的公司，在商品管理、运营管理、财务管理、仓储物流、培训提升、招商加盟、品牌推广等多个业务板块都有着领先于同行的水平</div>
				<div class="about-text">现在我们正处于一个大变革时代，电子商务一夜之间席卷实体行业，但是在这样一个时代，仟姿纺连锁没有选择退缩，而是凭借自己数十年成功的实体店经验获得了成都跨时代科技有限公司的战略投资，立志要在这样一个“互联网+”的时代走出一条前所未有的“互联网+大型内衣实体店”模式！前途固然是艰难的，但是仟姿纺人从来不怕困难，我们会一路踏实地，以成为“中国内衣行业变革者”为己任，通过互联网化来着力打造一个世界级连锁企业！</div>
				<div class="about-text">成功的路上，我们需要与你共前行！</div>
			</div>
		</div>
	</div>
</div>
<%- include footer %>
