<%- include header %>
<link rel="stylesheet" href="/stylesheets/index.css">
			<ul class="nav navbar-nav navbar-my">
				<li><a href="/">首页</a></li>
				<li><a href="/about">企业介绍</a></li>
				<li><a href="/product">合作品牌</a></li>
				<li class="active"><a href="javascript:;">活动动态</a></li>
				<li><a href="/join">招商加盟</a></li>
				<li><a href="/business">新店开业</a></li>
				<li><a href="/staff">员工天地</a></li>
				<li><a href="/contact">联系我们</a></li>
				<li class="visible-lg-block active"><a href="/join" style="padding:12px 45px;">欢迎加入</a></li>
			</ul>
		</div>
	</div>
</nav>

<div id="content">
	<div class="container">
		<h2 class="text-center">仟姿纺围巾节活动动态</h2>
		<h3 class="text-center">2015年11月19日-22日，仟姿纺内衣节——围巾狂欢日开始啦~</h3>
		<p>仟姿纺内衣节是仟姿纺连锁2015年战略新规划，仟姿纺连锁开始布局互联网+战略，希望通过传统市场手段与互联网营销手段相结合的方法，与同行竞争对手做出差异化的营销方案。</p>
		<p>这一次的围巾狂欢日是对仟姿纺互联网+战略的肯定，活动期间，微信朋友圈的所有H5文案阅读量达到7万余次，转发量2万余次，覆盖到了四川、广州、天津等地的用户，每个门店累计送出围巾200条，每个门店营业额平均增长2.5倍。</p>
		<p>在这样一个互联网时候，传统连锁企业只有拥抱互联网才能走得更远走得更好。仟姿纺在互联网+实体连锁店的探索已经走在同行业前面，我们会在保证自己的先发优势前提下，为消费者带去更多实惠，同时让消费者对于实体店有新的认识。</p>
		<p>活动当天，消费者早早就来仟姿纺门店排好队伍，准备领取我们送出的冬季围巾，虽然天气寒冷，但是也阻挡不了消费者来仟姿纺的脚步。希望仟姿纺连锁能够为消费者带去更多更优惠的活动。</p>
		<div>活动图片：</div>
			<div class="activity-img">
				<img src="/images/activity-img01.jpg">
			</div>
			<div class="activity-img">
				<img src="/images/activity-img02.jpg">
			</div>
		<div>数据说明：</div>
		<p>其中一个H5文案页面的传播数据</p>
		<div class="data-img">
			<img src="/images/activity-img03.png">
		</div>
		<p>其中一个H5文案页面的访客地域分布</p>
		<div class="data-img">
			<img src="/images/activity-img04.png">
		</div>
	</div>
</div>
<%- include footer %>