<%- include header %>
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/contact.css">
			<ul class="nav navbar-nav navbar-left">
				<li><a href="/">首页</a></li>
				<li><a href="/about">企业介绍</a></li>
				<li><a href="/join">招商加盟</a></li>
				<li><a href="/business">新店开业</a></li>
				<li><a href="/train">活动动态</a></li>
				<li><a href="/product">合作品牌</a></li>
				<li><a href="/staff">员工天地</a></li>
				<li class="active"><a href="/contact">联系我们</a></li>
				<li class="visible-lg-block active"><a href="/join" style="padding:12px 45px;">欢迎加入</a></li>
			</ul>
		</div>
	</div>
</nav>

<div id="content">
	<div class="container">
		<div class="con-title">联系我们</div>
		<div class="con-second-title">成都跨时代科技有限公司（旗下品牌：仟姿纺内衣连锁）</div>
		<div>公司地址：成都市金牛区金牛万达广场88号门二栋二单元2402室</div>
		<div>联系电话：18281552582</div>
		<div>公司网址：www.qzfny.com</div>
		<div class="con-map"></div>
		<div class="con-second-title">加盟热线</div>
		<div>18281552582</div>
		<div class="con-second-title">联系邮箱</div>
		<div>416095787@qq.com</div>
		<div class="con-second-title">官方微信公众号</div>
		<div class="con-code-img"></div>
		<div class="con-text">仟姿纺内衣连锁，您身边的内衣专家！（现我公司正在大力发展加盟事业，期待与您共创美好明天！）</div>
	</div>
</div>
<%- include footer %>