<%- include header %>
<link rel="stylesheet" href="/stylesheets/index.css">
<script type="text/javascript" src="/javascripts/index.js"></script>
			<ul class="nav navbar-nav navbar-my">
				<li class="active"><a href="javascript:;">首页</a></li>
				<li><a href="/about">企业介绍</a></li>
				<li><a href="/product">合作品牌</a></li>
				<li><a href="/activity">活动动态</a></li>
				<li><a href="/join">招商加盟</a></li>
				<li><a href="/business">新店开业</a></li>
				<li><a href="/staff">员工天地</a></li>
				<li><a href="/contact">联系我们</a></li>
				<li class="visible-lg-block active"><a href="/join" style="padding:12px 45px;">欢迎加入</a></li>
			</ul>
		</div>
	</div>
</nav>

<div id="content">
	<div id="index-carousel">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<img src="images/index-carousel-1.jpg">
					<div class="carousel-caption"></div>
				</div>
				<div class="item">
					<img src="images/index-carousel-2.jpg">
					<div class="carousel-caption"></div>
				</div>
				<div class="item">
					<img src="images/index-carousel-3.jpg">
					<div class="carousel-caption"></div>
				</div>
			</div>

			<!-- Controls -->
			<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
	
	<div class="container">
		<div class="row" id="business">
			<div class="col-md-12 husiness-header clearfix">
				<div class="pull-left husiness-header-title">新店开业</div>
				<a href="#" class="pull-right more">+</a>
			</div>
			<a href="#">
				<div class="col-md-3 business-item">
					<div class="business-box">
						<div class="business-img">
							<img src="/images/business-img-1.jpg">
						</div>
						<div class="business-new">
							<div class="business-new-title">热烈庆祝盛大开业</div>
							<div class="business-new-text">
								七月喜庆洋洋，7月8日~7月10日，仟姿纺又一大店——龙台店正式开业！龙台店位于中江县，是一个占地250平米的大店铺。虽然该店在试营业和开店时间遭遇降雨天气，但是龙台镇父老乡亲进店的热情十分高涨。让我们在这热情的夏日，为龙台店送去最由衷的祝愿，祝愿龙台店能够用我们最贴心的服务给龙台镇的父老乡亲带去品质最好、价格最实惠的衣物！
							</div>
						</div>
					</div>
				</div>
			</a>
			<a href="#">
				<div class="col-md-3 business-item">
					<div class="business-box">
						<div class="business-img">
							<img src="/images/business-img-2.jpg">
						</div>
						<div class="business-new">
							<div class="business-new-title">热烈庆祝盛大开业</div>
							<div class="business-new-text">
								热情的六月彭州市九尺镇迎来了仟姿纺子品牌——优棉纺店铺的盛大开业 ，让我们用热情的掌声，用尖叫的呐喊声，用无数的鲜花来祝贺，热烈祝贺仟姿纺连锁旗下优棉纺彭州九尺店开业，同时祝愿九尺镇的人们生活幸福美满~
							</div>
						</div>
					</div>
				</div>
			</a>
			<a href="#">
				<div class="col-md-3 business-item">
					<div class="business-box">
						<div class="business-img">
							<img src="/images/business-img-3.jpg">
						</div>
						<div class="business-new">
							<div class="business-new-title">热烈庆祝盛大开业</div>
							<div class="business-new-text">
								热烈庆祝仟姿纺洛水店成功举办14年大型年终内购会！仟姿纺洛水店是仟姿纺连锁的第一家店，成立于2008年，至今已有8年历史。而仟姿纺连锁也是从洛水镇起航的，在洛水店经营的这8年时间里，给消费者留下了——质量好、价格低、服务人性化的印象。仟姿纺洛水店立志为洛水镇的父老乡亲提供最健康、性价比最高的衣物！
							</div>
						</div>
					</div>
				</div>
			</a>
			<a href="#">
				<div class="col-md-3 business-item">
					<div class="business-box">
						<div class="business-img">
							<img src="/images/business-img-4.jpg">
						</div>
						<div class="business-new">
							<div class="business-new-title">热烈庆祝盛大开业</div>
							<div class="business-new-text">
								2015年10月12日，在这临近金秋的时节，仟姿纺彭州第二个店——彭州通济店正式开张啦。虽然清早有点绵绵细雨，但是也阻挡不了通济镇人民到仟姿纺购物的热情。我们在这里希望仟姿纺能够给通济镇的消费者带去智联谷子好、价格最低的棉纺品，让您们有一个温暖的冬季。
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		
		<div class="row" id="qzf-msg">
			<div class="col-md-4">
				<a href="#">
					<span class="more">+</span>
					<span class="msg-title">关于仟姿纺</span>
				</a>
				<div class="qzf-msg-about">
				<p>
				仟姿纺连锁店是专业从事内衣销售和服务的连锁企业，我们专注于针纺连锁领域，秉承“脚踏实地、志存高远”为核心价值观。成立至今，仟姿纺旗下门店数量年均增长50%，持续的高速发展势头，赢得了业界的一致认可。从2010年至今，仟姿纺以雷霆之速，形成超过100家的连锁规模。仟姿纺拥有一支专业、专注、专精的营销团队，汇聚时尚捕捉、仓储物流、营销推广各个方面的专业人才。现仟姿纺旗下员工近千人中心拥有针纺领域专业管理人才近200人，极具战斗力的团队，奠定了仟姿纺继续快速发展的良好基础。
				</p>
				<p>
				仟姿纺战略合作伙伴有“恒源祥”、“七匹狼”、“与狼共舞”、“雪中飞”等知名品牌，产品涵盖文胸、家居服、内衣、小裤、袜子、综合等不同种类近万种款式。
				</p>
				<p>
				仟姿纺长期致力于为每一位消费者带来别样的针纺购物体验，走在业界前沿的门店形象与展陈设计，是仟姿纺标签。仟姿纺在长期发展过程中，形成了识别度高、陈列效果好的系列门店陈列规范，独到美观的视觉体验，赢得了仟姿纺费者的认可。
				</p>
				
				<p>仟姿纺人用自己一如既往的勤劳和责任心，成为行业中成长最快的企业之一。</p>
				</div>
			</div>
			<div class="col-md-5">
				<a href="#">
					<span class="more">+</span>
					<span class="msg-title">仟姿纺团队</span>
				</a>
				<div class="qzf-msg-team">
					<img src="">
				</div>
			</div>
			<div class="col-md-3">
				<a href="#">
					<span class="more">+</span>
					<span class="msg-title">公司动态</span>
				</a>
				<div class="qzf-msg-trends">
					<img src="/images/qzf-activity-1.jpg">
					<ul>
						<li>仟姿纺连锁董事长刘光富先生受邀参加红红红商贸年终大典！</li>
					</ul>
				</div>
				<div class="qzf-msg-trends">
					<img src="/images/qzf-activity-2.jpg">
					<ul>
						<li>仟姿纺董事长刘光富先生受邀参加“内衣视界报·中国万里行”活动</li>
					</ul>
				</div>
			</div>
		</div>
		
		<div id="qzf-product">
			<ul class="nav nav-tabs qzf-pro-header" role="tablist">
				<li class="qzf-pro-title">
					产品展示
				</li>
				<li role="presentation" class="active">
					<a href="#new-style" aria-controls="new-style" role="tab" data-toggle="tab">新品发布</a>
				</li>
				<li role="presentation">
					<a href="#hot-style" aria-controls="hot-style" role="tab" data-toggle="tab">热销款式</a>
				</li>
				<li role="presentation">
					<a href="#classical-style" aria-controls="classical-style" role="tab" data-toggle="tab">经典展示</a>
				</li>
				<li class="pull-right more">
					+
				</li>
			</ul>

			<div class="tab-content clearfix">
				<div role="tabpanel" class="tab-pane active" id="new-style">
					<div class="col-md-3 style-img">
						<img src="/images/new-style-img01.jpg">
					</div>
					<div class="col-md-3 style-img">
						<img src="/images/new-style-img02.jpg">
					</div>
					<div class="col-md-3 style-img">
						<img src="/images/new-style-img03.jpg">
					</div>
					<div class="col-md-3 style-img">
						<img src="/images/new-style-img04.jpg">
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="hot-style">
					<div class="col-md-3 style-img">
						<img src="/images/hot-style-img01.jpg">
					</div>
					<div class="col-md-3 style-img">
						<img src="/images/hot-style-img02.jpg">
					</div>
					<div class="col-md-3 style-img">
						<img src="/images/hot-style-img03.jpg">
					</div>
					<div class="col-md-3 style-img">
						<img src="/images/hot-style-img04.jpg">
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="classical-style">
					<div class="col-md-3 style-img">
						<img src="/images/classical-style-img-1.jpg">
					</div>
					<div class="col-md-3 style-img">
						<img src="/images/classical-style-img-2.jpg">
					</div>
					<div class="col-md-3 style-img">
						<img src="/images/classical-style-img-3.jpg">
					</div>
					<div class="col-md-3 style-img">
						<img src="/images/classical-style-img-4.jpg">
					</div>
				</div>
			</div>
		</div>
		
		<div id="qzf-album" class="clearfix">
			<div class="col-md-12 text-center album-title">仟姿纺相册</div>
			<a href="#">
				<div class="col-md-3 qzf-album-item">
					<img src="/images/qzf-album01.jpg">
					<div class="cover"></div>
				</div>
			</a>
			<a href="#">
				<div class="col-md-3 qzf-album-item">
					<img src="/images/qzf-album02.jpg">
					<div class="cover"></div>
				</div>
			</a>
			<a href="#">
				<div class="col-md-3 qzf-album-item">
					<img src="/images/qzf-album03.jpg">
					<div class="cover"></div>
				</div>
			</a>
			<a href="#">
				<div class="col-md-3 qzf-album-item">
					<img src="/images/qzf-album04.jpg">
					<div class="cover"></div>
				</div>
			</a>
			<a href="#">
				<div class="col-md-3 qzf-album-item">
					<img src="/images/qzf-album05.jpg">
					<div class="cover"></div>
				</div>
			</a>
			<a href="#">
				<div class="col-md-3 qzf-album-item">
					<img src="/images/qzf-album06.jpg">
					<div class="cover"></div>
				</div>
			</a>
			<a href="#">
				<div class="col-md-3 qzf-album-item">
					<img src="/images/qzf-album07.jpg">
					<div class="cover"></div>
				</div>
			</a>
			
			<a href="#">
				<div class="col-md-3 qzf-album-item">
					<img src="/images/qzf-album-285x285.jpg">
					<div class="cover">
						<div class="cover-title">总部新员工入职培新</div>
						<div class="cover-text">总部新员工入职培训，简报。。。</div>
					</div>
				</div>
			</a>
		</div>
		
		<div id="qzf-honour" class="clearfix">
			<div class="col-md-12 text-center honour-title">合作品牌</div>
			<div class="col-md-4 qzf-honour-item">
				<img src="/images/qzf-hezuo-1.jpg">
			</div>
			<div class="col-md-4 qzf-honour-item">
				<img src="/images/qzf-hezuo-2.jpg">
			</div>
			<div class="col-md-4 qzf-honour-item">
				<img src="/images/qzf-hezuo-3.jpg">
			</div>
			<div class="col-md-4 qzf-honour-item">
				<img src="/images/qzf-hezuo-4.jpg">
			</div>
			<div class="col-md-4 qzf-honour-item">
				<img src="/images/qzf-hezuo-5.jpg">
			</div>
			<div class="col-md-4 qzf-honour-item">
				<img src="/images/qzf-hezuo-6.jpg">
			</div>
		</div>
		
		<div class="row" id="qzf-information">
			<div class="col-md-4">
				<a href="#">
					<span class="more">+</span>
					<span class="msg-title">加盟合作</span>
				</a>
				<div class="qzf-info-item">
					<img src="/images/qzf-information-1.jpg">
					<ul class="">
						<li></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<a href="#">
					<span class="more">+</span>
					<span class="msg-title">健康资讯</span>
				</a>
				<div class="qzf-info-item">
					<img src="/images/qzf-information-2.jpg">
					<ul class="">
						<li></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<a href="#">
					<span class="more">+</span>
					<span class="msg-title">生活贴士</span>
				</a>
				<div class="qzf-info-item">
					<img src="/images/qzf-information-3.jpg">
					<ul class="">
						<li></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include footer %>
