<%- include header %>
<link rel="stylesheet" href="/stylesheets/index.css">
			<ul class="nav navbar-nav navbar-left">
				<li><a href="/">首页</a></li>
				<li><a href="/about">企业介绍</a></li>
				<li class="active"><a href="/join">招商加盟</a></li>
				<li><a href="/business">新店开业</a></li>
				<li><a href="/train">活动动态</a></li>
				<li><a href="/product">合作品牌</a></li>
				<li><a href="/staff">员工天地</a></li>
				<li><a href="/contact">联系我们</a></li>
				<li class="visible-lg-block active"><a href="/join" style="padding:12px 45px;">欢迎加入</a></li>
			</ul>
		</div>
	</div>
</nav>

<div id="content">
	
</div>
<%- include footer %>