<%- include header %>
<link rel="stylesheet" href="/stylesheets/product.css">
<script src="javascripts/getProduct.js"></script>
			<ul class="nav navbar-nav navbar-my">
				<li><a href="/">首页</a></li>
				<li><a href="/about">企业介绍</a></li>
				<li><a href="/join">招商加盟</a></li>
				<li><a href="/business">新店开业</a></li>
				<li><a href="/train">活动动态</a></li>
				<li class="active"><a href="/product">合作品牌</a></li>
				<li><a href="/staff">员工天地</a></li>
				<li><a href="/contact">联系我们</a></li>
				<li class="visible-lg-block active"><a href="/join" style="padding:12px 45px;">欢迎加入</a></li>
			</ul>
		</div>
	</div>
</nav>

<div id="content">
	<div class="container">
		<div class="row">
			<div class="col-xs-4 col-sm-3 col-md-2 category">
				<div class="row text-center box-title">产品分类</div>
				<ul>
					<li class="active" data-type="bra">文胸</li>
					<li data-type="underpants">内裤</li>
					<li data-type="pajamas">睡衣</li>
					<li data-type="warmdacloth">保暖衣</li>
					<li data-type="leggings">打底裤</li>
				</ul>
			</div>
			<div class="col-xs-8 col-sm-9 col-md-10">
				<div class="row">
					<div class="pro-box clearfix">
						<div class="text-left box-title">产品列表</div>
						<div class="pro-box-con"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include footer %>