#content {
	font-size: 1.4rem;
}
.con-title {
	color: #e40082;
	font-size: 2rem;
	font-weight: bold;
}
.con-second-title {
	color: #000;
	font-size: 1.6rem;
}
.con-map {
	width: 100%;
	max-width: 500px;
	padding: 0 10px;
	margin-bottom: 20px;
}
.con-map img {
	width: 100%;
}
.con-code-img {
	width: 180px;
	padding: 0 10px;
	margin-bottom: 20px;
}
.con-code-img img {
	width: 100%;
}