#index-carousel {
	width: 100%;
	background-color: #ccc;
}
#index-carousel #carousel-example-generic{
	max-width: 1366px;
	margin: 0 auto;
}

/* 新店开业 */
#business {
	margin: 50px 0;
	font-size: 12px;
	padding: 0 9px;
}
.husiness-header {
	border-bottom: 1px solid #f8cfdd;
	margin: 15px 0;
	padding: 
}
.husiness-header .husiness-header-title {
	font-size: 16px;
	padding: 10px 20px;
	color: #fff;
	background-color: #e40082;
}
.husiness-header .more {
	color: #fff;
	border-radius: 50%;
	background-color: #E40082;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 30px;
}
.husiness-header .more:hover {
	text-decoration: none;
}
.business-item {
	padding: 0 7px;
}
.business-item .business-box {
	padding: 10px;
	border: 1px solid #e1eef2;
}
.business-item .business-img {
	height: 150px;
}
.business-item .business-img img {
	width: 100%;
	height: 100%; ///!!!!!!!!!!!!!!!!
}
.business-item .business-new-title {
	text-align: center;
	color: red;
}
.business-item .business-new-text {
	color: #595959;
}
/* 新店开业 end */

/* 关于、团队、动态 */
#qzf-msg {
	margin-bottom: 50px;
	color: #595959;
}
#qzf-msg a:hover {
	text-decoration: none;
}
#qzf-msg .more {
	display: inline-block;
	color: #fff;
	border-radius: 50%;
	background-color: #E40082;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 30px;
}
#qzf-msg .msg-title {
	display: inline-block;
	font-size: 20px;
	color: #595959;
}
#qzf-msg .qzf-msg-about,
#qzf-msg .qzf-msg-team {
	border: 1px solid #e1eef2;
	padding: 10px;
	margin-top: 15px;
}
#qzf-msg .qzf-msg-team img {
	width: 100%;
	height: 300px; //!!!!!!!!!!!!!!1
}
#qzf-msg .qzf-msg-trends {
	margin-top: 15px;
}
#qzf-msg .qzf-msg-trends img {
	width: 100%;
	height: 170px; //!!!!!!!!!!!
}
#qzf-msg .qzf-msg-trends ul {
	padding: 0;
}
#qzf-msg .qzf-msg-trends ul li {
	list-style: none;
	border-bottom: 1px dashed #e1eef2;
	padding: 3px 0;
}
/* 关于、团队、动态 end */

/* 产品展示 */
#qzf-product {
	margin-bottom: 50px;
}
#qzf-product .qzf-pro-header {
	margin: 0 0 15px 0;
}
#qzf-product .qzf-pro-title {
	font-size: 16px;
	padding: 10px 20px;
	color: #fff;
	background-color: #e40082;
	margin: 0 90px 0 0;
}
#qzf-product .more {
	color: #fff;
	border-radius: 50%;
	background-color: #E40082;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 30px;
}
#qzf-product .more:hover {
	text-decoration: none;
}
#qzf-product .qzf-pro-header .active a {
	color: #e40082;
}
#qzf-product .qzf-pro-header a {
	outline: none;
	color: #595959;
}
#qzf-product .style-img {
	padding: 0 1px;
}
#qzf-product .style-img img {
	width: 100%;
	height: 365px;
}

/* 产品展示 end */

/* 仟姿纺相册 */
#qzf-album {
	margin-bottom: 50px;
}
#qzf-album .album-title {
	color: #e40082;
	font-size: 30px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #f8cfdd;
}
#qzf-album .qzf-album-item {
	padding: 0 1px;
}
#qzf-album img {
	width: 100%;
}
/* 仟姿纺相册 end */

/* 品牌荣誉 */
#qzf-honour {
	margin-bottom: 50px;
}
#qzf-honour .honour-title {
	color: #e40082;
	font-size: 30px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #f8cfdd;
}
#qzf-honour .qzf-honour-item {
	padding: 0 1px;
}
#qzf-honour img {
	width: 100%;
}
/* 品牌荣誉 end */

/* 资讯、分享、文章 */
#qzf-information {
	margin-bottom: 50px;
	color: #595959;
}
#qzf-information a:hover {
	text-decoration: none;
}
#qzf-information .more {
	display: inline-block;
	color: #fff;
	border-radius: 50%;
	background-color: #E40082;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 30px;
}
#qzf-information .msg-title {
	display: inline-block;
	font-size: 20px;
	color: #595959;
}
#qzf-information .qzf-info-item {
	border: 1px solid #f8cfdd;
	padding: 10px;
	font-size: 12px;
}
#qzf-information .qzf-info-item img {
	width: 100%;
	height: 110px; //!!!!!!!!!!!!!!!!!!
}
#qzf-information .qzf-info-item ul {
	padding: 0;
}
#qzf-information .qzf-info-item ul li {
	list-style: none;
	border-bottom: 1px dashed #e1eef2;
	padding: 5px 0;
}
/* 资讯、分享、文章 end */