#content {
	font-size: 1.4rem;
	margin-top: 10px;
}
.category {
	border: 1px solid #ccc;
}
.category ul {
	list-style: none;
	padding: 0;
}
.category ul li {
	padding: 12px 0;
	text-align: center;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}
.category ul li.active {
	color: #fff;
	background-color: #E845A2;
}

.pro-box {
	margin: 0 15px;
	border: 1px solid #ccc;
}
.box-title {
	height: 45px;
	line-height: 45px;
	padding: 0 15px;
	color: #e40082;
	font-size: 16px;
	font-weight: bold;
	border-bottom: 3px solid #e40082;
}
.pro-item {
	text-align: center;
	margin: 15px 0;
}
.pro-item img {
	max-width: 100%;
}

@media screen and (max-width: 768px) {
	.pro-item {
		padding: 0;
	}
}