body {
  padding-top: 51px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.navbar-my {
	background-color: #e40082;
}
.navbar-my .nav > li.active > a,
.navbar-my .nav > li > a:hover {
	background-color: #700000;
}
.navbar-my a {
	color: #fff;
}