body {
  font: 10px "Microsoft YaHei", "Lucida Grande", Helvetica, Arial, sans-serif;
}
a:hover {
	text-decoration: none;
}
#qzf-header-top {
	height: 120px;
	background: transparent url('/images/qzf-top-icon.png') repeat-x scroll 0 0;
}
#qzf-header-top .qzf-top-msg {
	padding-top: 25px;
}
#qzf-header-top .qzf-top-msg-l img {
	width: 80%;
	max-width: 520px;
	height: auto;
}
#qzf-header-top .qzf-top-msg-r {
	padding-top: 20px;
}
#qzf-header-top .qzf-top-msg-r .qzf-top-icon {
	color: #e40082;
	font-size: 30px;
	margin-right: 15px;
}
#qzf-header-top .qzf-top-msg-r .qzf-top-text {
	margin-right: 5px;
}
#qzf-header-top .qzf-top-msg-r .qzf-top-num {
	color: #e40082;
	font-size: 20px;
}
.navbar-my {
	background-color: #e40082;
	margin: 0;
	border: none;
	min-height: 40px;
}
.navbar-my button {
	background-color: #b90254;
}
.navbar-my button .icon-bar {
	background-color: #fff;
}
.navbar-my .navbar-collapse-my {
	margin-left: calc((100% - 1034px) / 2);
}
@media screen and (max-width: 1200px) {
	.navbar-my .navbar-collapse-my {
		margin-left: calc((100% - 880px) / 2);
	}	
}
/**
@media screen and (max-width: 910px) {
	.navbar-my .navbar-collapse-my {
		display: none !important;
	}
	.navbar-my .navbar-header {
		float: right;
	}
	.navbar-my .navbar-header button {
		display: inline-block;
	}
}
**/
.navbar-my .nav > li > a {
	font-size: 16px;
	padding: 12px 25px;
}
.navbar-my .nav > li.active > a,
.navbar-my .nav > li > a:hover,
.navbar-my .nav > li > a:focus {
	background-color: #b90254;
}
.navbar-my a {
	color: #fff;
}

#footer {
	height: 50px;
	line-height: 50px;
	border-top: 1px solid #e40082;
}

@media screen and (max-width: 768px) {
	#qzf-header-top .qzf-top-msg-l img {
		width: auto;
		height: 40px;
	}
	#qzf-header-top .qzf-top-msg-r {
		padding-top: 0;
	}
}