body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#qzf-header-top {
	height: 120px;
}
.navbar-my {
	background-color: #e40082;
	margin: 0;
}
.navbar-my .nav > li.active > a,
.navbar-my .nav > li > a:hover,
.navbar-my .nav > li > a:focus {
	background-color: #700000;
}
.navbar-my a {
	color: #fff;
}

#footer {
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-top: 1px solid #e40082;
}